
#  Performing cluster sampling

##  Assignment 

Now that you know when to use cluster sampling, it's time to put it into action. In this exercise, you'll explore the `JobRole` column of the attrition dataset. You can think of each job role as a subgroup of the whole population of employees.

`attrition_pop` is available; `pandas` is loaded with its usual alias, and the `random` package is available. A seed of `19790801` has also been set with `random.seed()`.

##  Pre exercise code 

```
import pandas as pd
import random
random.seed(19790801)
attrition_pop = pd.read_feather(
  path = "/usr/local/share/datasets/attrition.feather"
)
```

In [50]:
import pandas as pd
import random
random.seed(19790801)
attrition_pop = pd.read_feather(
  path = "attrition.feather"
)

In [51]:
attrition_pop.head(1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,21,0.0,Travel_Rarely,391,Research_Development,15,College,Life_Sciences,High,Male,...,Excellent,Very_High,0,0,6,Better,0,0,0,0

##  Instructions 

- Create a list of unique `JobRole` values from `attrition_pop`, and assign to `job_roles_pop`.
- Randomly sample four `JobRole` values from `job_roles_pop`.

In [60]:
job_roles_pop = list(attrition_pop['JobRole'].unique())
job_roles_pop

['Research_Scientist',
 'Sales_Representative',
 'Laboratory_Technician',
 'Human_Resources',
 'Sales_Executive',
 'Manufacturing_Director',
 'Healthcare_Representative',
 'Research_Director',
 'Manager']

In [61]:
job_role_sample = random.sample(job_roles_pop, k=4)
job_role_sample

['Research_Director', 'Research_Scientist', 'Human_Resources', 'Manager']


- Subset `attrition_pop` for the sampled job roles by filtering for rows where `JobRole` is in `job_roles_samp`.

In [64]:
attrition_subset = attrition_pop[attrition_pop['JobRole'].isin(job_role_sample)]

- Remove any unused categories from `JobRole`.
- For each job role in the filtered dataset, take a random sample of ten rows, setting the seed to `2022`.

In [66]:
attrition_subset['JobRole']

0       Research_Scientist
5       Research_Scientist
6       Research_Scientist
10      Research_Scientist
17      Research_Scientist
               ...
1462               Manager
1464               Manager
1465               Manager
1466               Manager
1469     Research_Director
Name: JobRole, Length: 526, dtype: category
Categories (9, object): ['Healthcare_Representative', 'Human_Resources', 'Laboratory_Technician', 'Manager', ..., 'Research_Director', 'Research_Scientist', 'Sales_Executive', 'Sales_Representative']

In [67]:
attrition_subset['JobRole'].cat.remove_unused_categories()

0       Research_Scientist
5       Research_Scientist
6       Research_Scientist
10      Research_Scientist
17      Research_Scientist
               ...
1462               Manager
1464               Manager
1465               Manager
1466               Manager
1469     Research_Director
Name: JobRole, Length: 526, dtype: category
Categories (4, object): ['Human_Resources', 'Manager', 'Research_Director', 'Research_Scientist']

In [69]:
attrition_subset.loc[:, 'JobRole'] = attrition_subset['JobRole'].cat.remove_unused_categories()

In [70]:
attrition_subset['JobRole']

0       Research_Scientist
5       Research_Scientist
6       Research_Scientist
10      Research_Scientist
17      Research_Scientist
               ...
1462               Manager
1464               Manager
1465               Manager
1466               Manager
1469     Research_Director
Name: JobRole, Length: 526, dtype: category
Categories (4, object): ['Human_Resources', 'Manager', 'Research_Director', 'Research_Scientist']

In [72]:
clu_sample = attrition_subset.groupby('JobRole').sample(n=10, random_state=2022)

C:\Users\ROYAL\AppData\Local\Temp\ipykernel_10672\3903201792.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  clu_sample = attrition_subset.groupby('JobRole').sample(n=10, random_state=2022)

In [74]:
clu_sample

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1348,44,1.0,Travel_Rarely,1376,Human_Resources,1,College,Medical,Medium,Male,...,Excellent,Very_High,1,24,1,Better,20,6,3,6
886,41,0.0,Non-Travel,552,Human_Resources,4,Bachelor,Human_Resources,High,Male,...,Excellent,Medium,1,10,4,Better,3,2,1,2
983,39,0.0,Travel_Rarely,141,Human_Resources,3,Bachelor,Human_Resources,High,Female,...,Excellent,High,1,12,3,Bad,8,3,3,6
88,27,1.0,Travel_Frequently,1337,Human_Resources,22,Bachelor,Human_Resources,Low,Female,...,Excellent,Low,0,1,2,Better,1,0,0,0
189,34,0.0,Travel_Rarely,829,Human_Resources,3,College,Human_Resources,High,Male,...,Excellent,High,1,4,1,Bad,3,2,0,2
160,24,0.0,Travel_Frequently,897,Human_Resources,10,Bachelor,Medical,Low,Male,...,Excellent,Very_High,1,3,2,Better,2,2,2,1
839,46,0.0,Travel_Rarely,991,Human_Resources,1,College,Life_Sciences,Very_High,Female,...,Excellent,High,0,10,3,Best,7,6,5,7
966,30,0.0,Travel_Rarely,1240,Human_Resources,9,Bachelor,Human_Resources,High,Male,...,Excellent,Very_High,0,12,2,Bad,11,9,4,7
162,28,0.0,Non-Travel,280,Human_Resources,1,College,Life_Sciences,High,Male,...,Excellent,Medium,1,3,2,Better,3,2,2,2
1231,37,0.0,Travel_Rarely,1239,Human_Resources,8,College,Other,High,Male,...,Excellent,High,0,19,4,Good,10,0,4,7
1375,44,0.0,Travel_Rarely,1315,Research_Development,3,Master,Other,Very_High,Male,...,Excellent,Low,1,26,2,Best,2,2,0,1
1462,54,0.0,Travel_Rarely,584,Research_Development,22,Doctor,Medical,Medium,Female,...,Outstanding,High,1,36,6,Better,10,8,4,7
1316,45,0.0,Travel_Frequently,364,Research_Development,25,Bachelor,Medical,Medium,Female,...,Outstanding,High,0,22,4,Better,0,0,0,0
1356,48,0.0,Travel_Frequently,117,Research_Development,22,Bachelor,Medical,Very_High,Female,...,Excellent,Medium,1,24,3,Better,22,17,4,7
1387,48,0.0,Non-Travel,1262,Research_Development,1,Master,Medical,Low,Male,...,Outstanding,High,0,27,3,Good,5,4,2,1
1321,54,0.0,Non-Travel,142,Human_Resources,26,Bachelor,Human_Resources,Very_High,Female,...,Excellent,High,0,23,3,Better,5,3,4,4
1266,50,0.0,Travel_Rarely,1452,Research_Development,11,Bachelor,Life_Sciences,High,Female,...,Excellent,Medium,0,21,5,Better,5,4,4,4
1330,46,0.0,Travel_Rarely,406,Sales,3,Below_College,Marketing,Low,Male,...,Excellent,Very_High,1,23,3,Better,12,9,4,9
1052,59,0.0,Travel_Rarely,1089,Sales,1,College,Technical_Degree,Medium,Male,...,Excellent,High,1,14,1,Bad,6,4,0,4
1449,52,0.0,Travel_Rarely,699,Research_Development,1,Master,Life_Sciences,High,Male,...,Excellent,Low,1,34,5,Better,33,18,11,9
1439,58,0.0,Travel_Rarely,1055,Research_Development,1,Bachelor,Medical,Very_High,Female,...,Outstanding,High,1,32,3,Better,9,8,1,5
1339,58,0.0,Travel_Frequently,1216,Research_Development,15,Master,Life_Sciences,Low,Male,...,Excellent,Medium,0,23,3,Better,2,2,2,2
1426,49,0.0,Travel_Rarely,1245,Research_Development,18,Master,Life_Sciences,Very_High,Male,...,Excellent,High,1,31,5,Better,31,9,0,9
1415,48,0.0,Travel_Rarely,1224,Research_Development,10,Bachelor,Life_Sciences,Very_High,Male,...,Excellent,Very_High,0,29,3,Better,22,10,12,9
1322,51,0.0,Travel_Rarely,684,Research_Development,6,Bachelor,Life_Sciences,Low,Male,...,Excellent,High,0,23,5,Better,20,18,15,15
1284,40,0.0,Travel_Rarely,1308,Research_Development,14,Bachelor,Medical,High,Male,...,Excellent,Low,0,21,2,Best,20,7,4,9
1149,37,0.0,Travel_Rarely,161,Research_Development,10,Bachelor,Life_Sciences,High,Female,...,Outstanding,Low,1,16,2,Better,16,11,6,8
1126,42,0.0,Travel_Rarely,810,Research_Development,23,Doctor,Life_Sciences,Low,Female,...,Excellent,Medium,0,16,2,Better,1,0,0,0
1374,46,0.0,Travel_Rarely,1009,Research_Development,2,Bachelor,Life_Sciences,Low,Male,...,Excellent,High,0,26,2,Bad,3,2,0,1
1050,33,0.0,Travel_Rarely,213,Research_Development,7,Bachelor,Medical,High,Male,...,Excellent,Very_High,0,14,3,Best,13,9,3,7
86,26,0.0,Travel_Rarely,482,Research_Development,1,College,Life_Sciences,Medium,Female,...,Excellent,High,1,1,3,Good,1,0,1,0
930,52,1.0,Travel_Rarely,723,Research_Development,8,Master,Medical,High,Male,...,Excellent,Low,0,11,3,Good,8,2,7,7
860,37,0.0,Travel_Rarely,674,Research_Development,13,Bachelor,Medical,Low,Male,...,Excellent,Low,0,10,2,Better,10,8,3,7
36,20,1.0,Travel_Rarely,1362,Research_Development,10,Below_College,Medical,Very_High,Male,...,Excellent,Very_High,0,1,5,Better,1,0,1,1
997,32,0.0,Travel_Rarely,824,Research_Development,5,College,Life_Sciences,Very_High,Female,...,Excellent,Low,1,12,2,Better,7,1,2,5
1358,45,0.0,Travel_Rarely,1339,Research_Development,7,Bachelor,Life_Sciences,Medium,Male,...,Excellent,High,1,25,2,Better,1,0,0,0
993,41,0.0,Travel_Frequently,1200,Research_Development,22,Bachelor,Life_Sciences,Very_High,Female,...,Excellent,Low,2,12,4,Good,6,2,3,3
421,34,0.0,Travel_Rarely,181,Research_Development,2,Master,Medical,Very_High,Male,...,Excellent,Low,3,6,3,Better,5,0,1,2
789,28,1.0,Travel_Rarely,654,Research_Development,1,College,Life_Sciences,Low,Female,...,Excellent,Very_High,0,10,4,Better,7,7,3,7
94,36,1.0,Travel_Rarely,318,Research_Development,9,Bachelor,Medical,Very_High,Male,...,Excellent,Low,1,2,0,Good,1,0,0,0